<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>게시글 리스트</h1>
    <div>
        <div th:each="dto : ${resPostDTOList}">
          제목 : <td th:text="${dto.title}"></td></br>
          내용 : <td th:text="${dto.content}"></td></br>
          글쓴이 번호 : <td th:text="${dto.userIdx}"></td>
        </div>
    </div>
  </body>
</html>
